*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(196, 114, 84);
}
.bn1{
    margin-bottom: 20px;
    margin: 20px;
    padding: 10px;
    background-color: #161616;
    color: white;
    display: inline-block;
}
.bn1:hover{
    background-color: brown;
    transition: 0.5s;
}
.bn11{
    margin-bottom: 20px;
    margin: 20px;
    padding: 10px;
    background-color: #161616;
    color: white;
    display: inline-block;
}
.bn11:hover{
    background-color: brown;
    transition: 0.5s;
}
.bn12{
    margin-bottom: 20px;
    margin: 20px;
    padding: 10px;
    background-color: #161616;
    color: white;
    display: inline-block;
}
.bn12:hover{
    background-color: brown;
    transition: 0.5s;
}
.bn13{
    margin-bottom: 20px;
    margin: 20px;
    padding: 10px;
    background-color: #161616;
    color: white;
    display: inline-block;
}
.bn13:hover{
    background-color: brown;
    transition: 0.5s;
}
.container{
    text-align: center;
    margin-top:93px
}
 
table{
    margin: auto;
}
 
input{
    font-size:34px;
    height: 55px;
    background-color: #161616;
    color: white;
    width: 280px;
    margin: 6px 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    scroll-behavior: smooth;
}
 
button{
    font-size: 20px;
    background-color: #161616;
    color: aliceblue;
    width: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 50px;
    margin: 6px;
}

button:hover{
    background-color: darkslategrey;
    transition: 0.5s;
} 
.calculator{
    background-color: #161616;
    padding: 23px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: inline-block
}
.mahesh:hover{
    background-color: #a13333;
}